/*footer*/

.footer {
	background-color: #222;
}

.footer__container {
	display: flex;
	padding-top: 45px;
	padding-bottom: 80px;
}

.footer__navigation {
	margin-right: 330px;

	min-width: 270px;
}

.footer__logo {
	display: flex;
	margin-bottom: 20px;
}

.footer__list {
	margin-bottom: 111px;
}

.footer__item {
	margin-bottom: 14px;
}

.footer__item:last-child {
	margin-bottom: 0;
}

.footer__link {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: var(--border-light-grey);
	transition: color 0.5s linear;
}

.footer__link:hover {
	color: var(--main-yellow);
	transition: color 0.5s linear;
}

.footer__social {
	display: flex;
}

.social__item {
	margin-right: 24px;
}

.social__item:last-child {
	margin-right: 0;
}

.social__link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 60px;
	height: 60px;
}

.fb > svg path,
.vk > svg path,
.in > svg path {
	fill: #7c7c7c;
	transition: fill 0.5s linear;
}

.fb:hover > svg path {
	fill: #3b5998;
	transition: fill 0.5s linear;
}

.vk:hover > svg path {
	fill: #486a8d;
	transition: fill 0.5s linear;
}

.in:hover > svg path {
	fill: url("#SVGID_1_");
	transition: fill 0.5s linear;
}

.footer__form {
	margin-right: 235px;
	padding-top: 8px;

	min-width: 570px;
}

.footer-form__fieldset {
	display: flex;
	flex-direction: column;
	margin-bottom: 31px;
}

.footer-form__heading {
	margin-bottom: 21px;
	padding-left: 7px;

	font-size: 48px;
	line-height: 59px;
	letter-spacing: -1.25px;
	color: var(--border-light-grey);
}

.footer-form__bio,
.footer-form__mail,
.footer-form__text {
	background-color: var(--footer-grey);
	color:  var(--border-light-grey);
}

.footer-form__bio,
.footer-form__mail {
	margin-bottom: 27px;
	padding-left: 25px;

	min-height: 60px;
}

.footer-form__text {
	padding: 20px 25px;

	min-height: 147px;
}

.footer-form__bio:focus,
.footer-form__mail:focus,
.footer-form__text:focus {
  outline: 1px solid var(--main-yellow);
}

.footer-form__button {
	margin-right: 15px;
	padding: 20px 52px;

	border: none;
	font-weight: 700;
	line-height: 20px;
	background-color: var(--main-yellow);
	color: #fff;
	transition: background-color 0.5s linear;
}

.footer-form__button:hover {
	background-color: rgba(255, 153, 0, 0.6);
	transition: background-color 0.5s linear;
}

.label-consent {
	color: var(--border-light-grey);
	letter-spacing: -.5px;
}

.footer__description {
	padding-top: 77px;

	letter-spacing: -.5px;
	line-height: 32px;
	color: var(--border-light-grey);
}
