.header {
    padding-bottom: 30px;
}

.logo {
    margin-right: 55px;
    vertical-align: top;
}

.date-time {
    float: right;
}

<<<<<<< HEAD
.header-dropdown-a {
    margin-right: 43px;
    padding-right: 17px;
=======
.header-dropdown {
    margin-right: 40px;
    padding-right: 20px;
>>>>>>> 8a7895f490d68289c266758ea56b157f88d27b4b
    
    color: #4f9ed1;
    background-image: url(../img/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15%;
<<<<<<< HEAD
}

.header-dropdown {
    border-bottom: 1px dashed;
}
=======
    
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #4f9ed1;
}

>>>>>>> 8a7895f490d68289c266758ea56b157f88d27b4b
.date-format-time {
    margin-left: 30px;
    padding-left: 25px;
    
    background-image: url(../img/clock-blue.svg);
    background-repeat: no-repeat;
    background-size: 16px;
}

.degree-format {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 40px;
    margin-left: 29px;
    padding-top: 13px;
    padding-left: 39px;
    
    background-image: url(../img/cloud-blue.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 3px;
    background-size: 31px;
}

.news {
    float: left;
    
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    font-weight: 400;
}

.news_a {
    color: white;
    text-decoration: underline;
}

.fixed-container-logo {
    overflow: hidden;
    
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0 35px 0;
}

.top-bar {
    padding: 18px 0 19px 0;
    
    background-color: #00122f;
}

.date-format,
.time-format,
.degree-format {
    color: #91919f;
}

.search {
    position: relative;
    display: inline;
}

.search-area {
    padding-right: 35px;

    width: 320px;
    height: 45px;
    
    text-indent: 23px;
    letter-spacing: .1px;
    font-size: 13px;
    
    border: none;
    border-radius: 45px;
    background-color: #f3f3f3;
}

.search-icon {
    position: absolute;
    top: 2px;
    right: 14px;
    
    width: 19px;
    height: 16px;
    
    border: none;
    background-color: #f3f3f3;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
}

.nav-head {
    margin-top: 0;
    padding: 0;
}

.li-nav-head-1 {
    display: inline;
    
    margin-right: 17px;
}

.li-nav-head {
    display: inline;

    margin-right: 14px;
}

.li-nav-head::before {
    content: "/";
    
    color: #e1e1e5;
}

.link-head {
    margin-left: 16px;

    text-decoration: none;
    color: black;
    font-size: 16px;
}

.link-head-1 {
    text-decoration: none;
    color: black;
    font-size: 16px;
}