.main__container {
    position: relative;
    overflow: auto;
    
    padding-top: 23px;
    padding-bottom: 56px;

    background-color: #f9f9f9;
    background-image: linear-gradient(to bottom, #f3f3f3 7px, #f7f7f7 14px, #f9f9f9 35px);
    background-repeat: repeat-x;
}

.fixed__container__main {
    display: flex;
    flex-wrap: wrap;
    
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}

.newsreport__wrapper {
    align-self: flex-start;

    margin-right: 17px;

    flex-basis: 250px;
}
.newsreport {
    margin-bottom: 10px;
    padding-bottom: 5px;

    background-color: #FFFFFF;
    box-shadow: 0 9px 0px 0px #f7f7f7, 0 -9px 0px 0px #f7f7f7, 12px 0 15px -4px #f3f3f3, -12px 0 15px -4px #f3f3f3;
}

.newsreport__header {
    margin: 0 0 28px;
    padding: 25px 0 22px 17px;
    letter-spacing: -.3px;
    font-size: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.newsreport__list {
    margin-bottom: 36px;
    padding-inline-start: 0;
    padding-left: 17px;
    padding-right: 10px;
}

.newsreport__item {
    margin-bottom: 21px;
}

.newsreport__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    font-size: 14px;
    line-height: 1.4;
}

.newsreport__link {
    display: block;
    margin-bottom: 13px;
}

.newsreport__text__l1 {
    margin: 0;
    padding-right: 20px;
    letter-spacing: 0.4px;
    color: black;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.newsreport__text__l2 {
    margin: 0; 

    letter-spacing: 0.4px;
    color: black;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.newsreport__text__l3 {
    margin: 0;

    letter-spacing: 0.4px;
    color: black;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.newsreport__text__l4 {
    margin: 0;
    padding-right: 15px;

    letter-spacing: 0.4px;
    color: black;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.newsreport__text__l5 {
    margin: 0;
    

    letter-spacing: 0.4px;
    color: black;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.newsreport__text__l6 {
    margin: 0;
    padding-right: 50px;

    letter-spacing: 0.4px;
    color: black;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.news__category__link {
    flex-grow: 1;

    letter-spacing: -.3px;
    color: #a3a3ae;
    font-size: 12px;
}

.publication__time {
    padding-left: 15px;

    letter-spacing: 0;
    font-size: 12px;
    background-image: url('../img/clock-blue.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 25%;
}

.news__comments__count {
    margin-right: 28px;
    margin-left: 18px;
    padding-left: 15px;

    letter-spacing: 0;
    font-size: 12px;
    background-image: url('../img/speech-bubble-blue.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 45%;
}

.allnews__search {
    display: block;
    width: 180px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #448ccb;
    border: 1px solid #448ccb;
    text-align: center;
    line-height: 45px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.28px;
}

.currencies {
    padding: 10px 10px 10px 17px;

    background-color: #fff;
    box-shadow: 0 9px 0px 0px #f7f7f7, 0 -9px 0px 0px #f7f7f7, 12px 0 15px -4px #f3f3f3, -12px 0 15px -4px #f3f3f3;
}

.currencies__table {
    margin: 0 auto;

    border-collapse: collapse;
}

.currencies__row {
    border-bottom: 1px solid #e5e5e5;

    letter-spacing: 0.4px;
}

.currencies__top {
    margin-top: 0;
    margin-bottom: 10px;

    text-align: center;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-weight: 400;
}

.eur__exchange{
    margin-right: 30px;
    padding-right: 20px;

    display: block;

    background-size: 13px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-image: url(../img/euro.svg);
}

.usd__exchange {
    margin-right: 30px;
    padding-right: 20px;

    display: block;

    background-size: 13px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-image: url(../img/dollar-symbol.svg);
}

.unavailable {
    text-align: center;
}

.mainnews {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
    align-self: flex-start;
    justify-content: space-between;
    
    margin-right: 20px;
    
    flex-basis: 463px;
}

.mainnews__big {
    position: relative;
    margin-bottom: 12px;
}

.krym {
    width: 463px;
    height: 322px;
}

.mainnews__big__header {
    position: absolute;
    top: 145px;
    left: 20px;
    display: block;
    width: 380px;
    height: 102px;
    margin: 0px;
    padding: 0px;
    letter-spacing: -.6px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    border: none;
}

.mainnews__big__category__link {
    position: absolute;
    top: 114px;
    left: 22px;
    text-decoration: none;
    letter-spacing: -.3px;
    color: white;
    font-size: 12px;
}

.mainnews__big__pub__date {
    position: absolute;
    top: 271px;
    left: 21px;
    letter-spacing: -.2px;
    color: white;
    font-size: 12px;
}

.mainnews__big__pub__time {
    margin-left: 15px;
    padding-left: 15px;
    color: white;
    font-size: 12px;
    background-image: url('../img/clock-white.svg');
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position-y: 1px;
    background-size: 11px;
}

.mainnews__article {
    margin-bottom: 17px;
}

.mainnews__head__link {
    display: block;

    margin-bottom: 17px;
}

.mainnews__header {
    margin: 0;
    padding-right: 15px;

    width: 220px;
    letter-spacing: -.3px;
    font-size: 14px;
    line-height: 19px;
    border: none;
}

.mainnews__category__link {
    letter-spacing: -.3px;
    color: #a3a3ae;
    font-size: 12px;
}

.mainnews__pub__time {
    margin: 0px 15px 0 10px;
    padding-left: 15px;
    letter-spacing: 0;
    font-size: 12px;
    background-image: url('../img/clock-blue.svg');
    background-repeat: no-repeat;
    background-size: 12px;
}

.mainnews__comments__count {
    padding-left: 19px;
    letter-spacing: 0;
    font-size: 12px;
    background-image: url(../img/speech-bubble-blue.svg);
    background-repeat: no-repeat;
}

.banner {
    align-self: flex-start;

    flex-basis: 250px;

    box-shadow: 0 9px 0px 0px #f7f7f7, 0 -9px 0px 0px #f7f7f7, 12px 0 15px -4px #f3f3f3, -12px 0 15px -4px #f3f3f3;
    background-color: #f7f7f7;
}

.banner__img__first {
    margin-bottom: 17px;
}

.popular__news {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap-reverse;

    margin-top: 20px;

    height: 393px;

    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.popular__news__list {
    flex-grow: 1;
}

.popular__news__header {
    margin: 0 0 25px;
    padding: 26px 0 23px 19px;

    letter-spacing: -.3px;
    font-size: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.popular__news___item {
    margin-bottom: 21px;
    padding-left: 18px;
    padding-right: 25px;
    width: 410px;
    margin-top: 0px;
}

.popular__news___link {
    display: block;
    margin-bottom: 13px;
    text-decoration: none;
}

.popular__news__item__header {
    margin: 0;
    letter-spacing: .8px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}



.popular__news__big {
    position: relative;
    
    margin-top: 0px;
}

.popular__news__big__category__link {
    position: absolute;
    top: 106px;
    left: 20px;
    text-decoration: none;
    letter-spacing: -.3px;
    color: white;
    font-size: 12px;
}

.popular__news__big__header {
    position: absolute;
    top: 141px;
    left: 20px;
    display: block;
    width: 410px;
    height: 102px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    letter-spacing: -.6px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
}

.popular__news__big__pub__date {
    position: absolute;
    top: 257px;
    left: 21px;
    letter-spacing: -.2px;
    color: white;
    font-size: 12px;
}

.popular__news__big__pub__time {
    margin-left: 15px;
    padding-left: 15px;
    color: white;
    font-size: 12px;
    background-image: url(../img/clock-white.svg);
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position-y: 1px;
    background-size: 11px;
}

.popular__news__big__par {
    position: absolute;
    top: 291px;
    left: 20px;
    display: block;
    width: 485px;
    margin: 0px;
    padding: 0px;
    letter-spacing: -.8px;
    opacity: .6;
    color: #cccdcf;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    border: none;
}