@media (max-width: 1039px) {
    .newsreport__wrapper {
        margin-right: 10px;
    }

    .mainnews {
        margin-right: 10px;
    }

    .header__logo {
        margin-right: 40px;
    }

    .header__time {
        margin-left: 10px;
    }
}

@media (max-width: 1023px) {
    .dropdown__first__link,
    .header__date,
    .header__temperature,
    .header__nav__item {
        font-size: 14px;
    }

    .fixed__container__main {
        justify-content: center;
    }

    .banner {
        margin-top: 20px;
        margin-right: 20px;
    }

    .mainnews {
        order: -1;
    }

    .popular__news {
        height: auto;
        flex-wrap: nowrap;
        flex-grow: 0;
    }

    .popular__news__big {
        order: -1;
    }
}