/*@media*/

@media (max-width: 1919px) {
	.container {
    padding-left: 15px;
    padding-right: 15px;
		max-width: 1650px;
	}

	.first-section {
		padding-right: 700px;

		background-size: cover;
	}

	.about-us__descr {
		padding-right: 390px;
	}

	.about-us__item {
		padding: 52px 60px 53px 60px;
  }

  .tabs__text {
    padding-right: 730px;
  }

  .tabs__descr {
    margin-bottom: 83px;
  }

	.footer__form {
		margin-right: 165px;
	}
}

@media (max-width: 1619px) {
	.container {
		max-width: 1500px;
	}

	.first-section {
		padding-right: 550px;
	}

	.about-us__descr {
		padding-right: 240px;
	}

	.about-us__item {
		padding: 53px 20px 52px 20px;
	}

	.tabs__text {
		padding-right: 600px;
  }

  .tabs__text::after {
    width: 600px;
  }

	.footer__navigation {
		margin-right: 255px;
	}

	.footer__form {
		margin-right: 85px;
	}
}

@media (max-width: 1469px) {
	.container {
		max-width: 1350px;
	}

	.first-section {
		padding-right: 400px;
	}

	.about-us__descr {
		padding-right: 90px;
	}

	.about-us__item {
		padding: 38px 5px 37px 5px;
	}

	.footer__description {
		display: none;
	}
}

@media (max-width: 1319px) {
	.container {
		max-width: 1200px;
	}

	.first-section {
		padding-right: 250px;
	}

	.about-us__descr {
		padding-right: 90px;
	}

	.tabs__text {
		padding-right: 437px;
  }

  .tabs__text::after {
    width: 437px;
  }

	.about-us__item {
		padding: 66px 320px 66px 112px;
	}

	.about-us__content {
		flex-direction: column;
	}

	.first-content {
		flex-basis: 640px;
		margin-bottom: 40px;

		background-size: cover;
	}

	.footer__container {
		justify-content: space-between;
	}

	.footer__form,
	.footer__navigation {
		margin-right: 0;
	}

	.footer__form {
		min-width: 540px;
	}

}

@media (max-width: 1169px) {
	.container {
    padding-right: 0;
    padding-left: 0;

		max-width: 927px;
	}

	.header__container {
		padding: 25px 0;
	}

	.burger__span {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 3px;
		vertical-align: bottom;
		background: rgb(0, 0, 0);
		transition: background .3s .5s;
	}

	.burger__span::after {
		content: "";
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 3px;
		background: rgb(0, 0, 0);
		transform-origin: 50% 50%;
		transition: top .3s .3s,transform .3s;
	}

	.burger__span::before {
		content: "";
		position: absolute;
		top: -10px;
		left: 0;
		width: 100%;
		height: 3px;
		background: rgb(0, 0, 0);
		transform-origin: 50% 50%;
		transition: top .3s .3s,transform .3s;
	}

	.header__burger {
		display: flex;
		padding: 0;
	}

	/*.burger__span {*/
	/*	background: 0 0;*/
	/*}*/
	/*.burger__span::before {*/
	/*	top: 0;*/
	/*	transform: rotate3d(0,0,1,-45deg);*/
	/*	transition: top .3s,transform .3s .5s;*/
	/*}*/

	/*.burger__span::after {*/
	/*	top: 0;*/
	/*	transform: rotate3d(0,0,1,45deg);*/
	/*	transition: top .3s,transform .3s .5s;*/
	/*}*/

	.header__logo {
		margin-right: 0;

		max-width: 150px;
	}

	.header__navigation {
		display: none;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 88px;
  }

	.first-section {
		margin-bottom: 62px;
		padding: 158px 170px 120px 50px;

		background-image: url('../img/low-angle-photo-of-balconies-tablet.png');
		background-position: bottom;
	}

	.first-section__title {
		margin-bottom: 10px;

		font-size: 60px;
		line-height: 73px;
	}

	.first-section__descr {
		margin-bottom: 105px;

		font-size: 20px;
		line-height: 24px;
		letter-spacing: -.1px;
	}

	.about-us {
		margin-bottom: 60px;
	}

	.about-us__descr {
		margin-bottom: 60px;
		padding-right: 0;
	}

	.first-content {
		margin-bottom: 50px;
	}

	.first-content__bottom {
		padding: 44px 50px 42px 45px;
	}

	.first-content__descr {
		padding-right: 80px;
	}

	.about-us__item {
		margin-bottom: 40px;
		padding: 66px 110px 66px 112px;
	}

	.stages {
		margin-bottom: 60px;
	}

	.stages__title {
		letter-spacing: normal;
	}

	.tabs__descr {
		margin-bottom: 28px;
		padding-right: 53px;

		letter-spacing: normal;
	}

	.faq {
		margin-bottom: 48px;
	}

	.faq__title {
		letter-spacing: normal;
	}

	.faq-article__heading {
		font-size: 20px;
		line-height: 32px;
	}
}

@media (max-width: 1023px) {

	.container {
		max-width: 670px;
	}

	.header__container {
		padding: 8px 0;
	}

	.first-section {
		padding-right: 15px;
		padding-top: 192px;
		padding-bottom: 115px;

		max-width: 100%;
	}

	.first-section__title {
		font-size: 60px;
		line-height: 73px;
	}

	.first-section__descr {
		margin-bottom: 110px;
	}

	.first-content {
		margin-bottom: 40px;
		flex-basis: 650px;

		background-position: center;
	}

	.first-content__bottom {
		padding: 25px 30px;
	}

	.first-content__descr {
		margin-right: 40px;
		padding-right: 0;
	}

	.about-us__item {
		padding: 37px 35px 36px 30px;
	}

	.item-article {
		padding-left: 150px;

		background-size: 120px;
	}

	.stages__title {
		margin-bottom: 47px;
	}

	.tabs__list {
		margin-bottom: 45px;
		justify-content: space-between;
	}

	.tabs__item {
		margin-right: 0;
	}

	.tabs__content {
		flex-direction: column-reverse;
  }

  .tabs__text {
    padding-top: 324px;
    padding-right: 0;
  }

	.tabs__text::after {
		width: 100%;
		height: 284px;
	}

	.tabs__descr {
		padding-right: 0;
	}

	.faq__title {
		letter-spacing: -.95px;
	}

	.faq__item {
		margin-bottom: 24px;
		padding-top: 27px;
  }

  .faq-article__btn {
    margin-left: 104px;
  }

	.footer__container {
		padding-bottom: 55px;
	}

	.footer__container {
		flex-direction: column-reverse;
	}

	.footer__form {
		margin-bottom: 58px;
		padding-top: 15px;
		padding-right: 135px;
	}

	.footer-form__heading {
		padding-left: 0;
		letter-spacing: normal;
	}

	.footer-form__button {
		margin-right: 12px;
		padding-right: 38px;
		padding-left: 38px;
	}

	.label-consent {
		letter-spacing: normal;
	}

	.footer__list {
		display: none;
	}

}

@media (max-width: 767px) {

  .container {
    max-width: 502.5px;
  }

  .section {
    margin-bottom: 30px;
  }

  .first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px;

    max-width: 100%;
  }

  .first-section__title {
    font-size: 42px;
    line-height: 52px;
    text-align: center;
  }

  .first-section__descr {
    margin-bottom: 50px;

    font-weight: 500;
    text-align: center;
  }

  .about-us__descr {
    margin-bottom: 20px;
  }

  .first-content {
    margin-bottom: 20px;
    flex-basis: 530px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url('../img/Rectangle 2.png');
  }

  .first-content__bottom {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;

    background-color: transparent;
  }

  .first-content__descr {
    color: var(--main-color);
  }

  .first-content__link {
    padding: 15px 50px;

    color: var(--main-yellow);
  }

  .tabs__text {
    padding-top: 314px;
  }

  .footer__form {
    margin-bottom: 23px;
    padding-right: 0;
    padding-bottom: 35px;

    border-bottom: 1px solid #595959;
    min-width: 100%;
  }

  .footer-form__fieldset-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-form__button {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .label-consent {
    font-size: 16px;
    line-height: 32px;
  }

  .label-consent input[type='checkbox'] {
    margin-right: 5px;
  }

  .footer__navigation {
    align-self: center;
  }

}

@media (max-width: 575px) {
  .container {
    max-width: 290px;
  }

  .header__container {
    flex-direction: row-reverse;
    padding-bottom: 2px;
  }

  .header__burger {
    width: 25px;
    height: 25px;
  }

  .burger__span::before {
    top: -8px;
  }

  .burger__span::after {
    top: 8px;
  }

  .header__form {
    display: none;
  }

  .header__logo {
    max-width: 97px;
  }

  .section {
    margin-bottom: 40px;
  }

  .section__title {
    margin-bottom: 0;

    font-size: 24px;
    line-height: 29px;
  }

  .first-section {
    padding: 32px 15px 41px 15px;
  }

  .first-section__title {
    margin-bottom: 7px;

    font-size: 20px;
    line-height: 24px;
  }

  .first-section__descr {
    margin-bottom: 35px;

    font-size: 12px;
    line-height: 15px;
  }

  .first-section__link {
    padding: 12px 29px;
    font-size: 12px;
    line-height: 15px;
  }

  .about-us__descr {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 28px;
  }

  .first-content {
    flex-basis: 400px;
    margin-bottom: 40px;
  }

  .first-content__descr {
    margin-right: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
  }

  .first-content__link {
    padding: 10px 40px;

    font-size: 12px;
    line-height: 15px;
  }

  .about-us {
    margin-bottom: 47px;
  }

  .about-us__item {
    margin-bottom: 20px;
    padding: 0;

    border: none;
  }

  .item-article {
    padding-top: 62px;
    padding-left: 0;

    background-position: top left;
    background-size: 65px;
  }

  .item-article__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .item-article__descr {
    padding-right: 0;

    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: normal;
  }

  .stages__title {
    margin-bottom: 35px;
  }

  .tabs__list {
    margin-bottom: 15px;
  }

  .tabs__button {
    font-size: 14px;
    line-height: 17px;
  }

  .tabs__text {
    padding-top: 170px;
  }

  .tabs__text::after {
    height: 160px;
  }

  .tabs__title {
    margin-bottom: 0;

    font-size: 18px;
    line-height: 28px;
    letter-spacing: -.35px;
  }

  .tabs__descr {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 28px;
  }

  .tabs-link__detailed {
    margin-right: 10px;
    padding: 10px 44px;

    font-size: 12px;
  }

  .tabs-link__contract {
    padding: 10px 32px;

    font-size: 12px;
  }

  .faq__title {
    margin-bottom: 12px;

    letter-spacing: normal;
  }

  .faq__item {
    padding-top: 20px;
  }

  .faq__item:last-child {
    padding-bottom: 18px;
  }

  .faq-article__heading {
    margin-right: 30px;

    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__item:nth-child(2) .faq-article__btn {
    margin-left: 34px;
  }

  .faq-article__btn {
    margin-left: 30px;

    min-width: 30px;
    min-height: 30px;
  }

  .faq-article__btn::before,
  .faq-article__btn::after {
    left: 19%;
    width: 19px;
  }

  .footer__container {
    padding-top: 24px;
  }

  .footer__form {
    padding-bottom: 24px;
  }

  .footer-form__heading {
    font-size: 24px;
    line-height: 29px;
  }

  .footer-form__bio, .footer-form__mail {
    padding-left: 20px;

    font-size: 14px;
  }

  .footer-form__text {
    padding: 16px 20px;

    font-size: 14px;
  }

  .footer-form__fieldset {
    margin-bottom: 24px;
  }

  .footer-form__button {
    margin-bottom: 14px;
    padding: 12px 28px;

    font-size: 12px;
    line-height: 15px;
  }

  .footer__logo {
    margin-bottom: 16px;

    max-width: 131px;
  }

  .footer__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social__item {
    margin-right: 15px;
  }

  .social__link {
    width: 34px;
    height: 34px;
  }
}
