/*stages*/

.stages__title {
	margin-bottom: 50px;

	letter-spacing: -1.8px;
}

.tabs__list {
	display: flex;
	margin-bottom: 50px;
}

.tabs__item {
	margin-right: 90px;
}

.tabs__item:last-child {
	margin-right: 0;
}

.tabs__button {
	border: none;
	background: transparent;
	font-size: 18px;
	line-height: 22px;
}

.tabs__button--active,
.tabs__button:hover {
	color: var(--main-yellow);
}

.tabs__content {
  position: relative;
	display: flex;
}

.tabs__text {
  padding-right: 870px;
}

.tabs__text::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url('../img/tabs-img1.webp') no-repeat center center;
  height: 100%;
  width: 50%;
  background-size: cover;
}

.tabs__title {
	margin-bottom: 5px;

	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}

.tabs__descr {
	margin-bottom: 92px;
	padding-right: 145px;

	line-height: 32px;
	letter-spacing: -.58px;
}

.tabs-link__wrap {
	display: flex;
}

.tabs-link__detailed {
	margin-right: 30px;
	padding: 20px 38px;

	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	background-color: var(--main-yellow);
	color: #fff;
	transition: background-color 0.5s linear;
}

.tabs-link__detailed:hover {
	background-color: rgba(255, 153, 0, 0.6);
	transition: background-color 0.5s linear;
}

.tabs-link__contract {
	padding: 19px 38px;

	border: 1px solid #333;
	line-height: 20px;
	transition: background-color 0.5s linear, color 0.5s linear;
}

.tabs-link__contract:hover {
	background-color: var(--main-color);
	color: #fff;
	transition: background-color 0.5s linear, color 0.5s linear;
}
