html {
    box-sizing: border-box; 
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {    
    margin: 0 auto;
    padding: 0;
    
    letter-spacing: -.4px; 
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 16px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

footer {
    overflow: hidden;
    
    background-color: #00122f;
}

.fixed-container {
    overflow: hidden;
    
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    
    color: white;
}

.clearfix::after { /* "псевдораспорка" */
    display: table;
    clear: both;
    content: "";
}

.visually-hidden { /* скрываем H2 в центральной секции */
    position: absolute !important;
    position: absolute;
    overflow: hidden;
    
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(0 0 0 0);
    
    width: 1px !important;
    width: 1px;
    height: 1px !important;
    height: 1px;
    
    margin: -1px;
    padding: 0 !important;
    
    border: 0 !important;
}



